Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/demonstracao_de_calendarios/PHP/$1.php -f
RewriteRule (.+)\.php PHP/$1.php [L]
RewriteRule ^$ PHP/pagina_inicial.php [L]

<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
